* {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(pink, black);
  font-family: Arial, sans-serif;
}

.res-cont {
  width: 80%;
  border: 2px solid black;
  display: flex;
  border-radius: 20px;
  background-color: black;
  color: white;
  margin: 50px auto;
}

.text {
  width: 50%;
  padding: 20px;
}

.text h1 {
  font-size: 40px;
  margin-top: 10px;
}

.text h2 {
  font-size: 24px;
  font-style: italic;
}

.text h3 {
  font-size: 28px;
  color: cyan;
  margin: 10px 0;
  text-decoration: underline;
}

.text h4 {
  margin-top: 15px;
  text-decoration: underline;
  color: cyan;
}

.text p {
  margin: 10px 0;
  text-align: justify;
}

.text li {
  margin-left: 20px;
  font-size: 18px;
}

.text .ah {
  margin-top: 15px;
}

.text .ah a {
  color: gold;
  text-decoration: underline;
  margin-right: 15px;
}

.img img {
  width: 300px;
  height: 300px;
  border-radius: 200px;
  margin-top: 150px;  /* Increased top margin */
  margin-left: auto;
  margin-right: auto;
  display: block;
}

